.slogBody {
  width: 94%;
  padding: 1% 3% 3%;
  background-color: #8A5C35; /* brown background */
}

.homeVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  opacity: .1;
  z-index: -5;
}

.mainForm {
  width: 80%;
  margin: 0 auto;
}

.titleCon {
  width: 60%;
  padding: 0 5%;
  text-align: center;
  background-color: #A0C1BC; /* Blue-Gray color */
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
  margin: 0 auto 1em;
}

.homeTitleCon {
  width: 40%;
  padding: 0 5%;
  text-align: center;
  background-color: #A0C1BC; /* Blue-Gray color */
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
  margin: 0 auto 1em;
}

.formTitle {
  text-align: center;
  font-family: 'Phosphate', sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 400;
}

.divider {
  border-bottom: 2px black solid;
}

.formContainer {
  display: block;
  width: 60%;
  padding: 5%;
  margin: 0 auto;
  background-color: #A0C1BC; /* Blue-Gray color */
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
}

.homeImageCon {
  display: block;
  width: 40%;
  padding: 2% 5%;
  margin: 0 auto;
  background-color: #A0C1BC; /* Blue-Gray color */
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
}

.homeImage {
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.formFieldCon {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.formLabel {
  text-align: left;
  font-size: 24px;
  font-family: 'Righteous', cursive;
  margin-bottom: 20px;
}

.formField {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: #f7f7f7; /* Gray color */
  padding-left: 4px;
  margin: 10px 0;
}

.submitCon {
  width: 100%;
  display: flex;
  align-items: center;
}

.homeButtonCon {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.submitButton {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  margin: 1em auto 0;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.adminButton {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  margin: 1em auto 0;
  padding: 5px;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.adminButtonCon {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.adminButton-Ban {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  height: 40px;
  padding: 2px;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.adminButton-Promote {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  height: 40px;
  padding: 2px;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

.adminButton-Demote {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  height: 40px;
  padding: 2px;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

.adminButton-Ban:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.adminButton-Promote:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.adminButton-Demote:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.homeButton {
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
  margin: 0 auto 1%;
  padding: 0 5px;
  background-color: #E6853D; /* Orange-ish color */
  background-image: linear-gradient(to bottom,#E6853D 0,#FA6734 100%);
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.adminButton:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.homeButton:hover {
  cursor: pointer;
  background-color: #E4C44C; /* Yellow color */
  background-image: none;
  border: 1px solid #E6853D;
}

.homeButton:visited {
  color: black;
}

.messageCon {
  width: 60%;
  padding: 2% 5%;
  text-align: center;
  background-color: #A0C1BC;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
  margin: 1em auto;
}

.messageCon p {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.messageCon p a {
  color: #E6853D;
}

.messageCon p a:hover {
  color: #FA6734;
}

.messageCon p a:visited {
  color: #8A5C35;
}

.homeMessageCon {
  width: 40%;
  padding: 1% 5%;
  text-align: center;
  background-color: #A0C1BC;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(56, 52, 48);
  margin: 1em auto;
}

.homeMessageCon p {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.center {
  text-align: center;
}

.chatUsername {
  margin-left: 5px;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  letter-spacing: 3px;
  color: black;
}

.hidden {
  display: none;
}

.buttonPointer {
  cursor: pointer;
}

.userInfoRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
  text-align: left;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .adminButton-Ban {
    font-size: 20px;
    height: 35px;
  }
  .adminButton-Promote {
    font-size: 20px;
    height: 35px;
  }
  .adminButton-Demote {
    font-size: 20px;
    height: 35px;
  }
  .userInfo {
    font-size: 15px !important;
  }
  .messageCon {
    width: 70%;
  }
  .mainBox {
    width: 90%;
  }
  .homeTitleCon {
    width: 70%;
  }
  .homeMessageCon {
    width: 70%;
  }
  .homeImageCon {
    width: 70%;
  }
  .titleCon {
    width: 70%;
  }
  .formContainer {
    width: 70%;
  }

  @media only screen and (max-width: 700px) {
    .userInfoRow {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      display: block;
    }
    .userInfo {
      font-size: 20px !important;
      text-align: center;
    }
    .adminButtonCon {
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 500px) {
    .adminButton-Ban {
      font-size: 15px;
      height: 25px;
      width: 100px;
      margin-bottom: 5px;
    }
    .adminButton-Promote {
      font-size: 15px;
      height: 25px;
      width: 100px;
      margin-bottom: 5px;
    }
    .adminButton-Demote {
      font-size: 15px;
      height: 25px;
      width: 100px;
      margin-bottom: 5px;
    }
    .adminButtonCon {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto;
    }
    .userInfoRow {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      display: block;
    }
    .userInfo {
      font-size: 15px !important;
      text-align: center;
    }
    .messageCon {
      width: 80%;
    }
    .mainBox {
      width: 100%;
      padding: 0;
    }
    .homeTitleCon {
      width: 80%;
    }
    .homeMessageCon {
      width: 80%;
    }
    .homeImageCon {
      width: 80%;
    }
    .titleCon {
      width: 80%;
    }
    .formContainer {
      width: 80%;
    }
}
