<!-- <!DOCTYPE html> -->
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato|Righteous" rel="stylesheet">
  <link rel="stylesheet" href="/assets/slog.css">
  <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="/assets/admin.js"></script>
</head>
<body class="slogBody">
  <video autoplay muted loop class="homeVideo">
    <source src="/assets/images/triangle-stock.mp4" type="video/mp4">
  </video>

  <div class="submitCon">
    <a class="adminButton" href="/api/chat">BACK TO CHAT</a>
  </div>

  <div class="messageCon">
    <p>Placeholder for visualization
    </p>
  </div>

  <div class="messageCon" id="user-list">
    <h3 class="formTitle divider"> List of Users
    </h3>
  </div>

</body>

</html>
