<!-- <!DOCTYPE html> -->
<html>
<form id="loginForm" action="api/login" method="post">
<h2 class="form-auth-heading">Login</h2>
<label class="sr-only" for="username">Username</label>
<input id="username" name="username" class="form-control" required="" type="text" autofocus="" placeholder="Username" />

<label class="sr-only" for="password">Password</label>
<input id="password" name="password" class="form-control" required="" type="password" placeholder="Password" />

<input id="submit" class="btn btn-lg btn-primary btn-block" type="submit"></input>
</form>

<p>Need an account? <a href="/signup">Signup</a> instead!
</p>

</html>
