<!-- <!DOCTYPE html> -->
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato|Righteous" rel="stylesheet">
  <link rel="stylesheet" href="/assets/slog.css">
</head>
<body class="slogBody">
  <video autoplay muted loop class="homeVideo">
    <source src="/assets/images/triangle-stock.mp4" type="video/mp4">
  </video>
  <div class="mainForm">
    <div class="titleCon">
      <h2 class="formTitle">Privacy Policy</h2>
    </div>
    <div class="messageCon">
      <h2 class="formLabel center">Your Information</h2>
      <p>As a regular person like yourself, I want my information to be secure and respected when I toss it into a webpage or application. By entering your email into Retro Chat, you're simply allowing me, Cole L Simchick (proprieter and designer of this system), to know who is accessing this chat application. Your email will never be submitted to third-parties or sold to evil corporations, I just need it in the event you need to be contacted. Your passwords are also encrypted, to minimize the possibility of malicious skin-wearing by another user. If you have any feedback, positive or otherwise, I would love to hear it. You can contact me at <em>clsimchick@gmail.com</em> anytime.
      </p>
    </div>
  </div>
</body>

</html>
