<!-- <!DOCTYPE html> -->
<html>
<form id="signupForm" action="api/signup" method="post">
<h2 class="form-auth-heading">Signup</h2>
<label class="sr-only" for="email">Email</label>
<input id="email" name="email" class="form-control" required="" type="text" autofocus="" placeholder="Email" />

<label class="sr-only" for="username">Username</label>
<input id="username" name="username" class="form-control" required="" type="text" autofocus="" placeholder="Username" />

<label class="sr-only" for="password">Password</label>
<input id="password" name="password" class="form-control" required="" type="password" placeholder="Password" />

<input id="submit" class="btn btn-lg btn-primary btn-block" type="submit"></input>
</form>

<p>Have an account already? <a href="/login">Login</a> instead!
</p>

</html>
